.idea
.vscode
cmake-*

*.a
CMakeCache.txt
r-type_client
r-type_server
creation
CMakeFiles
*.cmake
Testing
Makefile
test/build

build-linux
build-windows
release-linux
release-windows
release-linux.tar.gz
release-windows.zip

